
@import url(./style.css);


.container {
    width: 100%;
      margin: 0 auto;
      /* outline: 1px solid red; */
      background: #fff;
  }

  .container- {
    width: 100%;
    margin: 0 auto;
    /* outline: 1px solid red; */
    /* background: rgb(169, 169, 169); */
    background: #fff;
  }




  #main-visual {
   display: none;
}
